img{
	background-color: rgb(79, 231, 65);

	border-radius: 700px;
	margin-top: 50px;
	border: 7px solid  rgb(56, 252, 56);
}
.online{
height: 25px;
  width: 25px;
  background-color: rgb(79, 231, 65);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  margin:100px 00px 70px -60px;

}